version: '3.8'
services:
  ssh_java_server:
    build:
      context: .
      dockerfile: Dockerfile
    
    container_name: remote-deploy-server
    
    ports:
      - "2225:2224"
      - "8080:8080"
    
    restart: unless-stopped
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/myshop?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC
      - SPRING_DATASOURCE_USERNAME=myshopuser
      - SPRING_DATASOURCE_PASSWORD=123456
    networks:
      - app_network
   

  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: myshop
      MYSQL_USER: myshopuser
      MYSQL_PASSWORD: 123456
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app_network

  adminer:
    image: adminer
    container_name: adminer
    restart: always
    ports:
      - "8081:8080"
      
    networks:
      - app_network
    depends_on:
      - mysql

volumes:
  mysql_data:

networks:
  app_network:
    driver: bridge